{% extends "__base__.html" %}
{% block content %}


    <section class="padding-medium story bg-light" id="about">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="row">
                <div class="col-4 mr-4">
                    <div class="div-img">
                        <img class ="div-img" src="../static/images/zew.png">
                    </div>
                </div>

                <div class="col-7 ml-4">
                    <h3 class="pb-1"> O FIRMIE</h3>
                    <h1 class="pb-1">Rolmet</h1>
                    <p> Przedsiębiorstwo Handlowo-Usługowe ROLMET zostało zarejestrowane 3 lipca 1992 roku jako spółka prawa handlowego.
                        Od chwili rejestracji spółki następuje ciągły, dynamiczny jej rozwój.
                        Siedziba firmy oraz magazyny mieszczą się w Inowrocławiu przy ulicy Poznańskiej 185.
                        Firma od początku swego istnienia specjalizuje się w kompleksowym zaopatrzeniu przedsiębiorstw w łożyska toczne
                        i asortymenty uzupełniające. </p>
                    <p> Wyroby do klienta dostarczane są własnymi środkami transportu lub na życzenie klienta w każdy inny sposób. </p>
                    <p> Z klientami o większych potrzebach (np. duże zakłady pracy) zawierane są umowy,
                        w których szczegółowo określa się formą obsługi klienta, zamówienie, transport, formy płatności itp.
                        Zasadą tych umów jest przyjęcie na siebie i utrzymanie zapasów magazynowych w formie składów konsygnacyjnych.
                        W ramach umów znamiennym szczegółem obsługi klienta, np. w przypadku awarii,
                        jest serwis 24-godzinny przez wszystkie dni tygodnia. </p>
                    <p> Głównymi naszymi odbiorcami są klienci z branży:</p>
                    <ul>
                        <li>przemysłowej,</li>
                        <li>chemicznej,</li>
                        <li>spożywczej,</li>
                        <li>papierniczej,</li>
                        <li>motoryzacyjnej,</li>
                        <li>maszynowej,</li>
                        <li>rolniczej.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


{% endblock content %}