{% extends "__base__.html" %}
{% load static %}
{% block title %}
    Koszyk na zakupy
{% endblock %}
{% block content %}
    <section class="padding-medium story">
        <div class="container">
            <h2 class=" color-header text-uppercase">Twój koszyk</h2>
                {% for item in cart_items %}
                <table class="table borderless">

                    <tbody>
                    <tr class="d-flex">
                        <th scope="row" class="col-7">{{ forloop.counter }}. {{ item.product.name  }} {{ item.product.category }} - {{ item.product.description }}</th>
                        <td class="col-2">
                            {{ item.product.price }} zł
                        </td>
                        <td class="col-2">
                            {{ item.quantity }} szt.
                        </td>
                        <td class="col-2">
                            {{ item.price }} zł
                        </td>
                    </tr>

                    </tbody>
                </table>
                {% endfor %}
        </div>
        <div class="col d-flex justify-content-end mb-1">
            <h4 class="text-uppercase"> Suma: {{ total_price }} zł</h4>
        </div>
        <div class="col d-flex justify-content-end mb-1 padding-small">
            <form action="" method="post">
                {%  csrf_token %}
                <button class ="btn btn-color rounded-0 text-light m-1" type="submit">Dalej</button>
            </form>
             <form action="/cart/remove/" method="post">
                {% csrf_token %}
                <button class ="btn btn-danger rounded-0 text-light m-1" type="submit">Usuń koszyk</button>
            </form>
        </div>




    </section>
{% endblock %}