{% extends "__base__.html" %}
{% block content %}


    <section class="padding-medium story bg-light" id="contact">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="row">
                <div class="col-7 ml-4">
                    <h1 class="pb-1">Kontakt</h1>
                        <h5>Masz pytania?</h5>
                            <p>Zapraszamy do kontaktu</p>
                    <br>
                    <p class="noMargin"> Pracujemy od poniedziałku do piątku</p>
                    <p>w godzinach od 8:00 do 16:00 oraz w sobotę od 9:00 do 13:00.</p>
                    <br>
                    <h3>Dział obsługi klienta</h3>
                        <p> +48 52 35 33 493 </p>
                        <p> +48 52 35 73 492</p>
                    <br>
                    <h3>Księgowość</h3>
                        <p> +48 52 35 73 466 </p>
                    <br>
                    <h3> E-mail </h3>
                        <p> rolmet@rolmet.com.pl </p>
                    <br>

                </div>
                <div>
                    <img src="../static/images/rolmet-logo.png">
                        <p>ul. Poznańska 185</p>
                        <p>88-100 Inowrocław</p>
                        <p>NIP: 556-060-00-86</p>
                    <img class ="div-img" src="../static/images/mapa.png">
                </div>
            </div>
        </div>
    </section>


{% endblock content %}