{% extends "__base__.html" %}
{% block content %}


    <section class="padding-medium story bg-light">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="row">
                <div class="col-4 mr-4">
                    <div class="div-img">
                        <img class ="div-img" src="../static/images/lozyska_nagi.jpg">
                    </div>
                    <h3 class="padding-small">Autoryzowany dystrybutor: </h3>
                        <img src="../static/images/logo_nachi.png">
                    <h3 class="padding-small">Nasi dostawcy: </h3>
                    <ul>
                        <li>Fabryka Łożysk Tocznych „KRAŚNIK” SA</li>
                        <li>Fabryka Łożysk NSK Kielce</li>
                        <li>TIMKEN POLSKA</li>
                        <li>FAG</li>
                        <li>KOYO</li>
                        <li>ZKL-ZVL</li>
                        <li>SNR</li>
                        <li>INA</li>
                    </ul>
                </div>

                <div class="col-7 ml-4">
                    <h1 class="pb-1">Łożyska</h1>
                    <p> Od początku swego istnienia specjalizuje się w kompleksowym zaopatrzeniu przedsiębiorstw w łożyska toczne.
                        Podstawowym asortymentem, jaki oferujemy w ciągłej sprzedaży są wszystkie typy łożysk przemysłowych
                        znanych firm zarówno polskich, jak i zagranicznych. </p>
                    <ul>
                        <li>Łożyska kulkowe zwykłe</li>
                        <li>Łożyska kulkowe skośne</li>
                        <li>Łożyska kulkowe wahliwe</li>
                        <li>Łożyska kulkowe wzdłużne</li>
                        <li>Łożyska walcowe poprzeczne</li>
                        <li>Łożyska igiełkowe</li>
                        <li>Łożyska stożkowe</li>
                        <li>Łożyska baryłkowe poprzeczne</li>
                        <li>Łożyska baryłkowe wzdłużne</li>
                        <li>Oprawy dzielone do łożysk wahliwych i baryłkowych</li>
                        <li>Nakrętki łożyskowe, podkładki zębate</li>
                        <li>Części toczne</li>
                    </ul>
                    </p>
                    <p> Jesteśmy autoryzowanym dystrybutorem firmy NACHI, który jest jednym z największych producentów łożysk dla przemysłu maszynowego,
                        elektrotechnicznego, motoryzacyjnego. Dzięki ciągłemu rozwojowi linii produkcyjnych oraz badań materiałowych,
                        wyroby firmy NACHI są w stanie sprostać coraz to większym wymogom.</p>

                </div>
            </div>
        </div>
    </section>

    <section class="padding-medium story bg-light" id="offer">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="row">

                <div class="col-7 ml-4">
                    <h1 class="pb-1">Paski klinowe</h1>
                    <p> Proponujemy szeroki asortyment klinowych pasków napędowych, przeznaczonych do pracy w napędach motoryzacyjnych, przemysłowych i rolniczych.
                        Stosowanie systemu jakości zgodnego z normą ISO 9001, gwarantuje jakość produktu odpowiadającą rygorystycznym
                        normom technicznym oraz zaspokajającą potrzeby najbardziej wymagających użytkowników elementów napędowych. </p>
                    <ul>
                        <li>Paski motoryzacyjne – AVX</li>
                        <li>Paski klinowe wąskoprofilowe</li>
                        <li>Paski klinowe klasyczne</li>
                        <li>Paski klinowe szerokoprofilowe</li>
                        <li>Paski klinowe zespolone</li>
                        <li>Paski dwustronnego działania</li>
                        <li>Paski szerokoprofilowe wewnętrznie uzębione</li>
                        <li>Płaskie paski napędowe</li>
                        <li>Mikropasy</li>
                    </ul>
                </div>
                <div class="col-4 mr-4">
                    <div class="div-img">
                       <img class ="div-img" src="../static/images/paski_nagi.jpg">
                    </div>
                    <h3 class="padding-small">Autoryzowany dystrybutor: </h3>
                        <img src="../static/images/logo_sanok.png">
                    <h3 class="padding-small">Nasi dostawcy: </h3>
                    <ul>
                        <li>GATES</li>
                        <li>OPTIBELT</li>
                    </ul>
               </div>
            </div>
        </div>
    </section>

    <section class="padding-medium story bg-light" id="offer">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="row">
                <div class="col-4 mr-4">
                    <div class="div-img">
                        <img class ="div-img" src="../static/images/lancuchy_nagi.jpg">
                    </div>
                </div>

                <div class="col-7 ml-4">
                    <h1 class="pb-1">Łańcuchy</h1>
                    <p> W naszej ofercie znajduje się szeroki asortyment łańcuchów Galla. </p>
                    <ul>
                        <li>Łańcuchy standardowe typu B</li>
                        <li>Łańcuchy standardowe typu A</li>
                        <li>Łańcuchy standardowe typu B z płytkami prostymi</li>
                        <li>Łańcuchy płytkowe typu LL (Fleyera)</li>
                        <li>Łańcuchy z przyłączami na bazie typu B</li>
                        <li>Łańcuchy transportowe z nakładkami gumowymi</li>
                        <li>Łańcuchy typu HOBO (ze sworzniami rurkowymi)</li>
                        <li>Łańcuchy transportowe typu STF</li>
                        <li>Łańcuch transportowy z nakładką na bazie łańcucha 16B</li>
                        <li>Łańcuchy rolnicze typu S55X</li>
                        <li>Łańcuchy transportowe</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="padding-medium story bg-light" id="offer">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="row">

                <div class="col-7 ml-4">
                    <h1 class="pb-1">Pierścienie i uszczelnienia techniczne</h1>
                    <p> Oferujemy szeroki asortyment uszczelnień mających zastosowanie w zespołach mechanicznych, hydraulicznych i pneumatycznych.</p>
                    <p>Podstawowymi odmianami konstrukcyjno – technicznymi są: </p>
                    <ul>
                        <li>pierścienie uszczelniające o przekroju kołowym O</li>
                        <li>pierścienie uszczelniające wałki obrotowe typu A</li>
                        <li>pierścienie uszczelniające wargowe typu U, V</li>
                        <li>pierścienie zgarniające typu Z, ZB, ZBL</li>
                        <li>pierścienie uszczelniające tkaninowo-gumowe typu DT, UT, DIT, UP</li>
                        <li>pierścienie oporowe typu PE1, PE2, SOW, S02, ZE1, ZE2</li>
                        <li>zestawy uszczelniające typu kompakt</li>
                        <li>pakiety uszczelniające z PTFE typu D31, D33, D35</li>
                    </ul>
                    <p>Dobry efekt uszczelniania gwarantuje nie tylko odpowiednio zaprojektowana konstrukcja węzła uszczelniającego,
                        ale także rodzaj materiału zastosowanego na uszczelnienia.</p>
                </div>
                <div class="col-4 mr-4">
                    <div class="div-img">
                       <img class ="div-img" src="../static/images/pierscienie_nagi.jpg">
                   </div>
                    <h3 class="padding-small">Nasi dostawcy: </h3>
                    <ul>
                        <li>CORTECO</li>
                        <li>SIMRIT</li>
                    </ul>
               </div>

            </div>
        </div>
    </section>

    <section class="padding-medium story bg-light" id="offer">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="row">
                <div class="col-4 mr-4">
                    <div class="div-img">
                        <img class ="div-img" src="../static/images/smarowanie_test.jpg">
                    </div>
                </div>

                <div class="col-7 ml-4">
                    <h1 class="pb-1">Smary i urządzenia smarownicze</h1>
                    <p> Oferujemy szeroki asortyment smarów do łożysk.
                        Dzięki naszemu wieloletniemu doświadczeniu pomagamy dobrać odpowiedni smar do warunków pracy łożysk. </p>
                    <p>Posiadamy również smarownice do łożysk, które ułatwiają dozowanie smaru. Można wyróżnić:</p>
                    <ul>
                        <li>smarownica automatyczna,</li>
                        <li>smarownica ręczna,</li>
                        <li>smarownica dozująca.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="padding-medium story bg-light" id="offer">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="row">

                <div class="col-7 ml-4">
                    <h1 class="pb-1">Narzędzia do montażu i demontażu łożysk</h1>
                    <p> Dbając o żywotność łożysk, równie ważnym etapem jest sposób montażu i demontażu łożysk.
                        W naszej ofercie posiadamy wysokiej kasy narzędzia, dzięki którym proces montażu i demontażu jest szybki i bezpieczny.</p>
                </div>
                <div class="col-4 mr-4">
                    <div class="div-img">
                       <img class ="div-img" src="../static/images/sciagacze.jpg">
                   </div>
               </div>

            </div>
        </div>
    </section>

    <section class="padding-medium story bg-light" id="offer">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="row">
                <div class="col-4 mr-4">
                    <div class="div-img">
                        <img class ="div-img" src="../static/images/pomiar_diag_nagi.jpg">
                    </div>
                </div>

                <div class="col-7 ml-4">
                    <h1 class="pb-1">Urządzenia diagnostyczne i pomiarowe</h1>
                    <p> W naszej ofercie znajdują się urządzenia diagnostyczne stosowane
                        w pneumatyce i hydraulice do pomiaru ciśnienia gazu, płynów takie jak: </p>
                    <ul>
                        <li>manometry,</li>
                        <li>wakuometry,</li>
                        <li>przewody pomiarowe.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="padding-medium story bg-light" id="offer">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="row">

                <div class="col-7 ml-4">
                    <h1 class="pb-1">Hydraulika siłowa i pneumatyka</h1>
                    <p>Posiadamy szeroki asortyment elementów hydrauliki siłowej oraz pneumatyki.
                        Dzięki naszemu wieloletniemu doświadczeniu jesteśmy w stanie pomóc w doborze niezbędnych elementów.</p>
                </div>
                <div class="col-4 mr-4">
                    <div class="div-img">
                       <img class ="div-img" src="../static/images/pn_hyd_nagi.jpg">
                   </div>
               </div>
            </div>
        </div>
    </section>

    <section class="padding-medium story bg-light" id="offer">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="row">
                <div class="col-4 mr-4">
                    <div class="div-img">
                        <img class ="div-img" src="../static/images/sciernice_nagi_2.jpg">
                    </div>
                </div>

                <div class="col-7 ml-4">
                    <h1 class="pb-1">Ściernice</h1>
                    <p> Naszą podstawową ofertę ściernic stanowią wzmocnione tarcze do przecinania i szlifowania, a przede wszystkim: </p>
                    <ul>
                        <li>ściernice do przecinania i szlifowania stali,</li>
                        <li>ściernice do przecinania i szlifowania stali, staliwa i żeliwa – PROFESSIONAL,</li>
                        <li>ściernice do przecinania blach i cienkich profili,</li>
                        <li>ściernice do przecinania i szlifowania stali nierdzewnych,</li>
                        <li>ściernice do przecinania i szlifowania kamienia,</li>
                        <li>ściernice do przecinania i szlifowania aluminium.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="padding-medium story bg-light" id="offer">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="row">

                <div class="col-7 ml-4">
                    <h1 class="pb-1">Chemia techniczna</h1>
                    <p>Posiadamy w naszej ofercie profesjonalną chemię techniczną:</p>
                    <ul>
                        <li><b>kleje</b> – dwuskładnikowe, epoksydowe, żywiczne,</li>
                        <li><b>środki do zabezpieczania gwintów </b>–
                            zabezpiecza śruby, nakrętki, szpilki przed samo odkręcaniem się wskutek wibracji
                            i jednocześnie uszczelnia i zabezpiecza gwint przed korozją,</li>
                        <li><b>środki do mocowania</b> – używane do łączenia cylindrycznych pasowanych części, bezpiecznego osadzania łożysk, kasowania luzów montażowych,
                            wzmacniania wyrobionych gniazd łożysk, jednocześnie uszczelnia i chroni przed korozją,</li>
                        <li><b>preparaty do uszczelniania</b> – uszczelniania rur, uszczelnienia powierzchni kołnierzowych, masy uszczelniające,
                            uszczelnienia silników i skrzyni biegów, uszczelnienia odpornie na wysokie temperatury,</li>
                        <li><b>czyszczenie i odtłuszczanie,</b></li>
                        <li><b>środki smarne</b> – smary silikonowe, smary antykorozyjne, odrdzewiacze,</li>
                        <li><b>czyszczenie i pielęgnacja</b> – pasty i płyny do mycia rąk, dozowniki.</li>
                    </ul>
                </div>
                <div class="col-4 mr-4">
                    <div class="div-img">
                       <img class ="div-img" src="../static/images/chemia_tech.jpg">
                   </div>
               </div>
            </div>
        </div>
    </section>

    <section class="padding-medium story bg-light" id="offer">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="row">
                <div class="col-4 mr-4">
                    <div class="div-img">
                        <img class ="div-img" src="../static/images/zakuwanie_nagi.jpg">
                    </div>
                </div>

                <div class="col-7 ml-4">
                    <h1 class="pb-1">Zakuwanie węży</h1>
                    <p> Produkujemy przewody na bazie węży gumowych, teflonowe, termoplastyczne oraz do mycia wysokociśnieniowego.
                        Mają one zastosowanie do przesyłu wody, sprężonego powietrza, pary wodnej, a także mediów o wysokiej temperaturze.
                        Przewody wykonujemy na poczekaniu w dowolnej konfiguracji, żądanej długości, według życzenia klienta. </p>
                </div>
            </div>
        </div>
    </section>


{% endblock content %}