{% extends "__dashboardbase__.html" %}
{% block title %}{% endblock %}
{% block content %}
    <div class="dashboard-content border-dashed p-3 m-4 view-height">
        {%  csrf_token %}
                <div class="mt-4 ml-4 mr-4">

                    <div class="row border-bottom border-3">
                        <div class="col">
                            <h3 class="color-header text-uppercase">
                                Szczegóły zamówienia</h3>
                        </div>

                        <div class="col d-flex justify-content-end mb-2"><a
                                href="/orders/list/"
                                class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">Powrót</a>
                        </div>
                    </div>

                    <table class="table borderless">
                        <tbody>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">Klient</th>
                            <td class="col-7">
                                {{ order.user }} - {{ order.full_name }}
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">Adres</th>
                            <td class="col-7">
                                {{ order.address1 }} {{ order.address2 }}
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">Kod pocztowy</th>
                            <td class="col-7">
                                {{ order.post_code }}
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">Miasto</th>
                            <td class="col-7">
                                {{ order.city }}
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">Wartość</th>
                            <td class="col-7">
                                {{ order.total_paid }}
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">Status</th>
                            <td class="col-7">
                                {{ order.get_status_display }}
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">Status płatności</th>
                            <td class="col-7">
                                {{ order.billing_status }}
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">Metoda płatności</th>
                            <td class="col-7">
                                {{ order.get_payment_method_display }}
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">Metoda dostawy</th>
                            <td class="col-7">
                                {{ order.get_delivery_method_display }}
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <h5 style="color: teal">
                        {{ message }}
                    </h5>


                    <div class="row d-flex">
                        <div class="col-12 border-bottom border-3"><h3
                                class="text-uppercase">Lista produktów</h3></div>
                        <div class="col-2"></div>

                    </div>
                    <div class="row d-flex">
                        <div class="col-12 p-4">
                            {% for order_item in order_items %}
                                <ul>
                                <li><a class="text-color-lighter" href="/product/{{ order_item.id }}/" >
                                {{ order_item.product }} {{ order_item.product.description }}- {{ order_item.quantity }} szt. - {{ order_item.price }} zł</a></li>
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
                </div>
    </div>

{% endblock content %}