{% extends "__dashboardbase__.html" %}
{% block title %}{% endblock %}
{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="dashboard-content border-dashed p-3 m-4 view-height">

            <div class="row border-bottom border-3 p-1 m-1">
                <div class="col noPadding">
                    <h3 class="color-header text-uppercase">
                    Lista zamówień
                    </h3>
                </div>
            </div>
            <h5 style="color: teal">
                {{ message }}
            </h5>
            <table class="table border-bottom schedules-content">
                <thead>
                <tr class="d-flex text-color-darker">
                    <th scope="col" class="col-2">NR ZAMÓWIENIA</th>
                    <th scope="col" class="col-3">WARTOŚĆ</th>
                    <th scope="col" class="col-3">STAN</th>
                    <th scope="col" class="col-2">DATA ZŁOŻENIA</th>
                    <th scope="col" class="col-2 center">AKCJE</th>
                </tr>
                </thead>
                <tbody class="text-color-lighter">
                {% for order in page_obj.object_list %}

                    <tr class="d-flex">
                        <th scope="row" class="col-1">{{ forloop.counter }}</th>
                        <td class="col-1">
                            : {{ order.id }} </br>
                        </td>
                        <td class="col-3">
                            {{ order.total_paid }} zł
                        </td>
                        <td class="col-3">
                            {{ order.get_status_display }}
                        </td>
                        <td class="col-2">
                            {{ order.created }}
                        </td>
                        <td class="col-2 d-flex align-items-center justify-content-center flex-wrap">
                            <a href="/order/{{ order.id }}"
                               class="btn btn-info rounded-0 text-light m-1">Szczegóły</a>
                            <a href="/order/edit/{{ order.id }}"
                               class="btn btn-warning rounded-0 text-light m-1">Edytuj</a>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
            <center>
                {% if page_obj.has_previous %}
                    <a class="text-color-lighter" href="?page={{page_obj.previous_page_number}}"><</a>
                {% endif %}
                    <span>{{page_obj.number}}</span>

                {% if page_obj.has_next %}
                    <a class="text-color-lighter" href="?page={{page_obj.next_page_number}}">></a>
                {% endif %}
            </center>
        </div>
    </form>
{% endblock content %}