{% extends "__dashboardbase__.html" %}
{% block title %}
    Nowy produkt
{% endblock title %}

{% block content %}

        <form action="" method="POST">
        {% csrf_token %}
            <div class="dashboard-content border-dashed p-3 m-4 view-height">

                <div class="mt-4 ml-4 mr-4">
                    <div class="row border-bottom border-3">
                        <div class="col">
                            <h3 class="color-header text-uppercase">
                            Nowy produkt </h3>
                        </div>
                        <div class="col d-flex justify-content-end mb-2">
                            <button class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">
                                <a href="/products/list/" >Powrót</a>
                            </button>
                        </div>

                    </div>
                    <div>
                        <table class="table borderless padding-small">
                                {{ form.as_p }}
                        </table>
                    </div>
                    <div class="col d-flex justify-content-end mb-2">
                        <button type="submit" class="btn btn-color rounded-0 mt-4 pl-4 pr-4">
                                Zapisz
                        </button>
                    </div>
                </div>
            </div>
        </form>

{% endblock content %}