{% extends "__base__.html" %}
{% block title %}{% endblock %}
{% block content %}

    <section class="padding-medium story">
        <div class="container d-flex">
            <div class="row">
                <div class="col-4 mr-4">
                    <div class="div-img">
                        <img class ="div-img" src="{{ product.image.url }}">
                    </div>
                </div>

                <div class="col-7 ml-4">
                    {%  csrf_token %}
                        <div class="mt-4 ml-4 mr-4">

                            <div class="row border-bottom border-3">
                                <div class="col-12">
                                    <h3 class="color-header text-uppercase">
                                        Szczegóły produktu</h3>
                                </div>
                                <div class="col d-flex justify-content-end mb-1">
                                    <a href="/shop/" class="btn btn-color">
                                        Powrót
                                    </a>
                                </div>
                            </div>
                            <table class="table borderless">
                                <tbody>

                                    <tr class="d-flex">
                                        <th scope="row" class="col-10">Nazwa Produktu</th>
                                        <td class="col-10">
                                            {{ product.name }}
                                        </td>
                                    </tr>
                                    <tr class="d-flex">
                                        <th scope="row" class="col-10">Model</th>
                                        <td class="col-10">
                                            {{ product.description }}
                                        </td>
                                    </tr>
                                    <tr class="d-flex">
                                        <th scope="row" class="col-10">Producent</th>
                                        <td class="col-10">
                                            {{ product.producent }}
                                        </td>
                                    </tr>
                                     <tr class="d-flex">
                                        <th scope="row" class="col-10">Cena netto</th>
                                        <td class="col-10">
                                            {{ product.price }}
                                        </td>
                                    </tr>
                                    <tr class="d-flex">
                                        <th scope="row" class="col-10">Cena brutto</th>
                                        <td class="col-10">
                                            {{ product.price }}
                                        </td>
                                    </tr>
                                    <tr class="d-flex">
                                        <th scope="row" class="col-10">Dostępna ilość</th>
                                        <td class="col-10">
                                            {{ product.stock }}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                        <div class="col d-flex justify-content-center mb-2">
                            {%  csrf_token %}
                            <form action="{% url "cart:cart_add" product.id %}" method="post"> {{ cart_product_form }}
                                {% csrf_token %}
                                <input class="btn btn-color" type="submit" value="Dodaj do koszyka">
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}