{% extends "__base__.html" %}
{% block title %}{% endblock %}
{% block content %}

    <section class="padding-medium story">
        <div class="container d-flex">
            <div class="row">
                <div class="col-4 mr-4">
                    <div class="div-img">
                        <img class ="div-img" src="{{ product.image.url }}">
                    </div>
                </div>

                <div class="col-7 ml-4">
                    {%  csrf_token %}
                        <div class="mt-4 ml-4 mr-4">

                            <div class="row border-bottom border-3">
                                <div class="col-12">
                                    <h3 class="color-header text-uppercase">
                                        Szczegóły produktu</h3>
                                </div>
                                <div class="col d-flex justify-content-end mb-1">
                                    <a href="/shop/" class="btn btn-color">
                                        Powrót
                                    </a>
                                </div>
                            </div>
                            <table class="table borderless">
                                <tbody>

                                    <tr class="d-flex">
                                        <th scope="row" class="col-10">Nazwa Produktu</th>
                                        <td class="col-10">
                                            {{ product.name }}
                                        </td>
                                    </tr>
                                    <tr class="d-flex">
                                        <th scope="row" class="col-10">Model</th>
                                        <td class="col-10">
                                            {{ product.description }}
                                        </td>
                                    </tr>
                                    <tr class="d-flex">
                                        <th scope="row" class="col-10">Producent</th>
                                        <td class="col-10">
                                            {{ product.producent }}
                                        </td>
                                    </tr>
                                     <tr class="d-flex">
                                        <th scope="row" class="col-10">Cena netto</th>
                                        <td class="col-10">
                                            {{ product.price }}
                                        </td>
                                    </tr>
                                    <tr class="d-flex">
                                        <th scope="row" class="col-10">Cena brutto</th>
                                        <td class="col-10">
                                            {{ product.price }}
                                        </td>
                                    </tr>
                                    <tr class="d-flex">
                                        <th scope="row" class="col-10">Dostępna ilość</th>
                                        <td class="col-10">
                                            {{ product.stock }}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                        <div class="col d-flex justify-content-center mb-2">
                            {%  csrf_token %}
{#                                <form action="/product/{{ product.id }}/" method="POST">#}
{#                                    <input type="hidden" name="id" value="{{ product.id }}">#}
{#                                    <button class ="btn btn-info rounded-0 text-light m-1"#}
{#                                                type="submit" name="like"> Polecam! </button>#}
{#                                    <button class ="btn btn-info rounded-0 text-light m-1"#}
{#                                                type="submit" name="dislike"> Nie polecam </button>#}
{##}
{#                                </form>#}
                                <div class="col d-flex justify-content-end mb-2">
                                    <form action="/add/{{ product.id }}" method="post">
                                        {%  csrf_token %}
                                        <button type="submit" class="btn btn-color">
                                            Dodaj do koszyka
                                        </button>
                                    </form>
                                </div>

                        </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}