{% extends "__base__.html" %}
{% block title %}{% endblock %}
{% block content %}
    <div class="dashboard-content border-dashed p-3 m-4 view-height">
        {%  csrf_token %}
                <div class="mt-4 ml-4 mr-4">

                    <div class="row border-bottom border-3">
                        <div class="col">
                            <h3 class="color-header text-uppercase">
                                Szczegóły produktu</h3>
                        </div>

                        <div class="col d-flex justify-content-end mb-2"><a
                                href="/shop/"
                                class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">Powrót</a>
                        </div>
                    </div>
                                <table class="table borderless">
                                    <tbody>

                                    <tr class="d-flex">
                                        <th scope="row" class="col-2">Nazwa Produktu</th>
                                        <td class="col-7">
                                            {{ product.name }}
                                        </td>
                                    </tr>
                                    <tr class="d-flex">
                                        <th scope="row" class="col-2">Model</th>
                                        <td class="col-7">
                                            {{ product.description }}
                                        </td>
                                    </tr>
                                    <tr class="d-flex">
                                        <th scope="row" class="col-2">Producent</th>
                                        <td class="col-7">
                                            {{ product.producent }}
                                        </td>
                                    </tr>
                                     <tr class="d-flex">
                                        <th scope="row" class="col-2">Cena netto</th>
                                        <td class="col-7">
                                            {{ product.price }}
                                        </td>
                                    </tr>
                                    <tr class="d-flex">
                                        <th scope="row" class="col-2">Cena brutto</th>
                                        <td class="col-7">
                                            {{ product.price }}
                                        </td>
                                    </tr>
                                    <tr class="d-flex">
                                        <th scope="row" class="col-2">Dostępna ilość:</th>
                                        <td class="col-7">
                                            {{ product.stock }}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>


                    <h5 style="color: teal">
                        {{ message }}
                    </h5>

                    <div class="col d-flex justify-content-center mb-2">
                        {%  csrf_token %}
                        <form action="/recipe/{{ product.id }}/" method="POST">
                            {%  csrf_token %}
                                <input type="hidden" name="id" value="{{ product.id }}">
                                <button class ="btn btn-info rounded-0 text-light m-1"
                                                type="submit" name="like"> Polecam! </button>
                                <button class ="btn btn-info rounded-0 text-light m-1"
                                                type="submit" name="dislike"> Nie polecam </button>

                        </form>
                        <div class="col d-flex justify-content-end mb-2"><a
                                href="/shop/"
                                class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">Dodaj do koszyka</a>
                        </div>
                    </div>


                </div>
    </div>

{% endblock content %}