{% extends "__base__.html" %}
{%  block title %}
    Edytuj dane
{%  endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-md-12">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-7 mx-auto">
                                <p class="small text-right pt-0">
                                        <a href="{%  url 'account:dashboard' %}"> Powrót</a>
                                </p>
                                <form class="account-form px-4 pt-4" method="post" enctype="multipart/form-data">
                                    {%  if form.is_valid %}
                                    <div class="alert alert-primary" role="alert">
                                        Dane zostały pomyślnie zmienione!
                                    </div>
                                    <p class="small text-center pt-0">
                                        <a href="{%  url 'account:dashboard' %}"> Powrót</a>
                                    </p>
                                    {% else %}
                                    <h3> Edytuj swoje dane</h3>
                                    <p> Możesz zmienić poniższe dane</p>
                                    {% endif %}
                                    {%  if form.errors %}
                                    <div class="alert alert-primary" role="alert">
                                        Błąd: Spróbuj ponownie!
                                    </div>
                                    {% endif %}
                                    {%  csrf_token %}
                                        {{ form.as_p }}
                                    <button class="btn btn-color btn-block py-2 mb-4 mt-5 fw-bold w-100" type="submit"
                                    value="Zapisz zmiany">Zapisz zmiany</button>
                                <hr class="mb-3">
                                </form>
                            <form class="account-form px-4" action="{%  url "account:delete_user" %}" method="post">
                                {%  csrf_token %}
                                <p class="h3 pt-4 font-weight-bold">Usuń konto</p>
                                <p> Czy na pewno chcesz usunąć swoje konto?</p>
                                <button type="submit" role="button" class="btn btn-danger btn-block py-2 mb-4 mt-5 fw-bold w-100">Usuń</button>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{%  endblock %}